body{
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    color: white;
    margin: 0;
    text-align: center;
}

header{
    text-align: center;
    padding: 40px;
    background-color: blueviolet;
}

h1{
    color: black;
}

h2{
    color:black
}

p {
    color: greenyellow
}